<% if @user.image.present? %>
  <%= image_tag @user.image_url(:thumb) %>
<% end %>

<p><%= @user.name %></p>

<p><%= @user.gender %></p>

<p><%= @user.points %></p>

<button type="button" class="btn btn-primary">
  <%= link_to "編集", edit_user_path(@user) %>
</button>