<div class="container">
  <% if notice.present? %>
    <div class="alert alert-success mt20" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1>自分の企画一覧</h1>
  <table class="table">
    <thead class="bg-primary">
    <tr>
      <th>#</th>
      <th>企画名</th>
      <th>目標金額</th>
      <th>現在の金額</th>
      <th>主催者</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr class=<%= 'table-active' if project.user == current_user %>>
        <th scope="row"><%= project.id %></th>
        <td><%= project.name %></td>
        <td><%= project.target_point %></td>
        <td><%= project.supported_point %></td>
        <td><%= project.user&.name %></td>
        <td><%= link_to 'Show', project %></td>
        <% if project.user == current_user %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'ホーム', root_path %>
</div>
