<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @view.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @view.project_id %>
</p>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
