<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activity.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @activity.project_id %>
</p>

<p>
  <strong>Supported point:</strong>
  <%= @activity.supported_point_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @activity.comment_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @activity.type %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
